:root {
  --main-color-DarkBlue: #00165e;
  --main-color-MiddleBlue: #233e96;
  --main-color-LightBlue: #829cf3;
  --main-color-Grey: grey;
  --mail-color-red: red;
  --main-color-green: green;
  
  --main-fontColor-white: white;
  --main-fontColor-gold: gold;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--main-color-DarkBlue);
}

h1, h2, h3 {
  text-align: center;
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.red {
  color: var(--mail-color-red);
}

.green {
  color: var(--main-color-green);
}


/* ********** HEADER ********** */

.header {
  background-color: var(--main-color-DarkBlue);
  color: var(--main-fontColor-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
  width: 79px;
  height: 50px;
  background-image: url('/src/assets/images/logo.png') ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__menuCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.header__menuList__item {
  text-transform: uppercase;
  font-weight: 500;
}

.header__menu-link {
  color: var(--main-color-LightBlue);
  text-decoration: none;
}

.header__menu-link-active {
  color: var(--main-fontColor-gold);
  text-decoration: underline;
}

.header__accountCont {

}



/* ********** BODY ********** */

.main {
  min-height: calc(100vh - 140px);
}

.main__cont, .search__cont {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  border: 2px solid var(--main-color-DarkBlue);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main-color-DarkBlue);
  color: var(--main-color-LightBlue);
  margin: 10px;
}

.button:hover {
  background-color: var(--main-color-LightBlue);;
  color: var(--main-color-DarkBlue);
  cursor: pointer;
}

.button:disabled, .button:disabled:hover {
  background-color: var(--main-color-Grey);
  color: var(--main-color-DarkBlue);
  cursor: default;
}

.hotelsList__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hotelList__link {
  width: 600px;
  text-decoration: none;
  color: var(--main-color-DarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotelList__item {
  width: 600px;
  border: 2px solid var(--main-color-DarkBlue);
  border-radius: 10px;
  padding: 10px;

  &:hover {
    background-color: var(--main-color-LightBlue);
  }
}

.hotelList__item-header {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hotelList__item-desc {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 5px;
}

.hotelList__item-roomsAvailable {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}

.search__formCont {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--main-color-DarkBlue);
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & input {
    font-size: 16px;
    padding: 3px;
    color: var(--main-color-DarkBlue);
  }
}





.notFound__cont {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* ********** FOOTER ********** */
.footer {
  background-color: var(--main-color-DarkBlue);
  color: var(--main-fontColor-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.footer__cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}