:root {
  --main-color-DarkBlue: #00165e;
  --main-color-MiddleBlue: #233e96;
  --main-color-LightBlue: #829cf3;
  --main-color-Grey: grey;
  --main-color-red: red;
  --main-color-green: green;
  --main-color-violet: rgb(190, 19, 190);
  
  --main-fontColor-white: white;
  --main-fontColor-gold: gold;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--main-color-DarkBlue);
}

body {
  overflow-y: scroll;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.red {
  color: var(--main-color-red);
}

.green {
  color: var(--main-color-green);
}

.bold {
  font-weight: 700;
}

.inputLabel, .inputLabel__select {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  margin: 10px auto;
  display: block;
  text-align: left;
}

.inputLabel:first-letter {
  text-transform: uppercase;
}

.inputLabel input, .inputLabel__select select {
  font-size: 16px;
  color: var(--main-color-DarkBlue);
  padding: 2px;
}

.inputLabel__select select {
  width: 200px;
}


/* ********** HEADER ********** */

.header {
  background-color: var(--main-color-DarkBlue);
  color: var(--main-fontColor-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
  width: 79px;
  height: 50px;
  background-image: url('/src/assets/images/logo.png') ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__menuCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.header__menuList__item {
  text-transform: uppercase;
  font-weight: 500;
}

.header__menu-link {
  color: var(--main-color-LightBlue);
  text-decoration: none;

  &:hover {
    color: var(--main-fontColor-white);
  }
}

.header__menu-link-active {
  color: var(--main-fontColor-gold);
  text-decoration: underline;
}

.header__accountCont {
  width: 30px;
  height: 30px;
  background-image: url('/src/assets/images/account.png') ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.header__account__submenuCont {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--main-color-DarkBlue);
  color: var(--main-fontColor-white);
  padding: 20px 0;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.header__accountCont:hover .header__account__submenuCont {
  display: flex;
}

.header__account__submenuItem {
  text-decoration: none;
  color: var(--main-fontColor-white);
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 20px;

  &:hover {
    color: var(--main-color-DarkBlue);
    background-color: var(--main-color-LightBlue);
  }
}

.header__account-marker {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--main-color-red);
  z-index: 1;
}

.bgcGreen {
  background-color: var(--main-color-green);
}



/* ********** BODY ********** */

.main {
  min-height: calc(100vh - 140px);
}

.main__cont, .search__cont, .account__cont, .userslist__cont, .changePage__cont {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  border: 2px solid var(--main-color-DarkBlue);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main-color-DarkBlue);
  color: var(--main-color-LightBlue);
  margin: 10px;
}

.button:hover {
  background-color: var(--main-color-LightBlue);;
  color: var(--main-color-DarkBlue);
  cursor: pointer;
}

.button:disabled, .button:disabled:hover {
  background-color: var(--main-color-Grey);
  color: var(--main-color-DarkBlue);
  cursor: default;
}

.hotelsList__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hotelList__link {
  width: 600px;
  text-decoration: none;
  color: var(--main-color-DarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotelList__item {
  width: 600px;
  border: 2px solid var(--main-color-DarkBlue);
  border-radius: 10px;
  padding: 10px;

  &:hover {
    background-color: var(--main-color-LightBlue);
  }
}

.hotelList__item-header {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hotelList__item-desc {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 5px;
}

.hotelList__item-roomsAvailable {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}

.hotelsList__item-adminCont {
  width: 600px;
  margin-top: -20px;
  margin-right: -20px;
  text-align: right;
}

.roomList__item-btnCont {
  width: 600px;
  margin-top: -10px;
  text-align: right;
}

.search__formCont {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--main-color-DarkBlue);
}

.search__form {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  & input {
    position: relative;
    font-size: 16px;
    padding: 3px;
    color: var(--main-color-DarkBlue);

    width: calc(90% - 2px); /* Настроить ширину с учётом границы */
    border: 1px solid var(--main-color-DarkBlue);
    background: none;
  }
}

.dates__messageCont {
  height: 20px;
  color: var(--main-color-red);
  font-weight: bold;
  margin-top: -5px;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.addForm__label {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px auto;
  display: block;
  text-align: left;
  width: 500px;
}

.addForm__area {
  width: 500px;
  height: 150px;
  font-size: 16px;
  color: var(--main-color-DarkBlue);
  padding: 2px;
  margin-top: 10px;
}

.addForm__filesInfo {
  margin: -10px auto;
}

.roomsList__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.roomsList__link {
  width: 600px;
  text-decoration: none;
  color: var(--main-color-DarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomList__notAlink {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomList__item {
  width: 600px;
  border: 2px solid var(--main-color-DarkBlue);
  border-radius: 10px;
  padding: 10px;
}

.roomsList__link .roomList__item:hover {
  background-color: var(--main-color-LightBlue);
}

.roomsList__item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.roomsList__item-desc, .roomsList__item-descHotel {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 5px;
}

.roomsList__item-descHotel {
  margin-top: 20px;
}

.roomsList__item-imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.roomsList__item-imgCont img {
  width: 150px;
}

.roomList__comment {
  font-size: 12px;
  margin-top: -18px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  padding: 0 10px;
}

.search__roomCont {
  width: 800px;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.search__imagesCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search__roomDescription {
  line-height: 26px;
  text-align: justify;
  width: 100%;
}

.search__roomHotelInfo {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  width: 100%;
}

.search__roomDatesInfo {
  line-height: 26px;
  text-align: justify;
  width: 100%;
}

.info__table {
  width: 80%;
  margin: 50px auto 10px;
  font-size: 18px;
}

.info__table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.info__table-cell {
  padding: 5px 10px;
  text-align: left;
  width: 50%;

  &:nth-child(odd) {
    text-align: right;
    font-weight: bold;
  }
}

.addUserBtn__cont {
  margin: 0 auto;
  text-align: right;
  width: 100%;
  padding: 0 20px;
  margin: -60px 0 -10px;
}

.addUser__form-message {
  height: 20px;
  color: var(--main-color-red);
  font-weight: bold;
}

.addUser__message {
  height: 20px;
  color: var(--main-color-violet);
  font-weight: bold;
}

.addBtn__cont {
  width: 100%;
  text-align: right;
  margin: -20px 0;
}

.bookings__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.bookings__list-item {
  width: 600px;
  border: 2px solid var(--main-color-DarkBlue);
  border-radius: 10px;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookings__list-itemCont {
  padding: 20px;
  width: 100%;
}

.bookings__list-btnCont {
  width: 100%;
  text-align: right;
  margin-top: -10px;
}

.bookings__list-itemImgsCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.bookings__list-itemImgsCont img {
  width: 150px;
}

.bookings__list-itemInfoCont {
  text-align: left;
}

.userList__itemCont {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.userList__link {
  text-decoration: none;
  color: var(--main-color-green);

  &::before {
    content: '>>>';
  }

  &:hover {
    font-weight: bold;
  }
}

.notFound__cont {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* ********** FOOTER ********** */
.footer {
  background-color: var(--main-color-DarkBlue);
  color: var(--main-fontColor-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.footer__cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}